.about {
  @apply min-h-screen flex justify-center items-center overflow-hidden max-w-[950px] mx-auto;

  &__container {
    @apply grid w-full px-[29px] text-left; /* Gap voor consistentie tussen mobiele en desktop-weergave */
  }

  &__title {
    @apply text-custom-gray text-4xl font-semibold mb-6 col-span-full; /* Titel neemt volledige breedte in */
  }

  &__content {
    @apply grid grid-cols-1 gap-8 items-center;
  }

  &__text {
    @apply text-custom-lightgray text-base leading-relaxed;
  }

  &__image {
    @apply flex justify-center items-center;
  }

  &__image--mobile {
    display: block;
    max-width: 150px;
  }

  &__image--desktop {
    display: none;
  }

  &__img {
    @apply rounded-full shadow-md max-w-full h-auto;
  }

  &__list {
    @apply columns-1 sm:columns-2 mt-8 text-custom-lightgray text-base leading-relaxed list-none pl-1;
  }

  &__list li {
    @apply mb-2; /* Ruimte tussen lijstitems */

    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 0.9rem;
      border-radius: 9999px;
      border: 1px solid #ff9d20;
    }
  }
}

/* Desktop layout */
@media (min-width: 768px) {
  .about {
    &__container {
      display: grid;
      grid-template-columns: 1fr;
    }
    
    &__image--mobile {
      display: none;
    }
    
    &__image--desktop {
      display: block;
    }
    
    &__content {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 8px;
    }
  }
}

