/* header.css */
.header {
  @apply bg-custom-bg text-white absolute w-full; /* Achtergrondkleur en tekstkleur */
}

.header__container {
  @apply flex justify-between items-center px-6 py-4 max-w-screen-xl mx-auto; /* Padding links en rechts 25px (px-6) en verticale padding (py-4) */
}

.header__logo {
  @apply flex items-center; /* Flexbox voor logo uitlijning */
}

.header__logo-text {
  @apply font-goldplay text-custom-orange text-2xl; /* Goldplay font en de tekstkleur */
}

.header__nav {
  @apply flex items-center; /* Flexbox voor nav-items */
}

.header__menu {
  @apply flex space-x-8; /* Flexbox voor horizontale lijst met items, vergroot ruimte tussen items */
  counter-reset: item; /* Reset de counter voor de lijst */
}

.header__menu-item {
  @apply list-none; /* Verwijder standaard lijststijl */
}

.header__menu-link {
  @apply text-white hover:text-custom-orange transition;
}

/* Voeg nummering toe aan lijstitems */
.header__menu li {
  @apply text-custom-orange; /* Gebruik de Tailwind kleur */
  list-style: none; /* Verwijder standaard lijststijl */
}

.header__menu li::before {
  content: counter(item, decimal-leading-zero) ". "; /* Voeg de genummerde lijst toe */
  @apply text-sm mr-[2px] text-custom-orange font-bold; /* Gebruik Tailwind voor margin-right, kleur en font-weight */
  counter-increment: item; /* Verhoog de counter per lijstitem */
}

.header__menu-link {
  @apply text-sm mt-5 mb-6 max-w-[500px] text-left font-opensans text-[rgb(161,161,161)] opacity-100;
}