/* header.css */
.header {
  @apply bg-[#101418] text-white md:bg-transparent md:mx-0 mx-4 mt-4 rounded-full; /* Achtergrondkleur en marges op mobiel */
}

.header__container {
  @apply mx-auto flex max-w-[1280px] items-center justify-between px-[6px] py-[4px] md:px-[30px]; /* Margin auto, flex, max-width, align-items, justify-content, padding */
}

.hamburger {
  @apply md:hidden block pb-[5px] pt-[11px]; /* Zichtbaar op mobiel */
}

.header__nav {
  @apply md:block hidden; /* Alleen zichtbaar op desktop */
}

.header__logo {
  @apply flex items-center; /* Flexbox voor logo uitlijning */
}

.header__logo-text {
  @apply font-goldplay text-custom-orange text-2xl; /* Goldplay font en de tekstkleur */
}

.header__nav {
  @apply flex items-center; /* Flexbox voor nav-items */
}

.header__menu {
  @apply flex space-x-8; /* Flexbox voor horizontale lijst met items, vergroot ruimte tussen items */
  counter-reset: item; /* Reset de counter voor de lijst */
}

.header__menu-item {
  @apply list-none; /* Verwijder standaard lijststijl */
}

.header__menu-link {
  @apply text-white hover:text-custom-orange transition;
}

/* Voeg nummering toe aan lijstitems */
.header__menu li {
  @apply text-custom-orange; /* Gebruik de Tailwind kleur */
  list-style: none; /* Verwijder standaard lijststijl */
}

.header__menu li::before {
  content: counter(item, decimal-leading-zero) ". "; /* Voeg de genummerde lijst toe */
  @apply text-sm mr-[2px] text-custom-orange font-bold; /* Gebruik Tailwind voor margin-right, kleur en font-weight */
  counter-increment: item; /* Verhoog de counter per lijstitem */
}

.header__menu-link {
  @apply text-sm mt-5 mb-6 max-w-[500px] text-left font-opensans text-[rgb(161,161,161)] opacity-100;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #ff9d20 !important;
}

.hamburger {
  @apply md:hidden block;
}

.header__nav{
  @apply md:block hidden;
}