$hamburger-layer-height: 2px !default;
$hamburger-layer-width: 25px !default;
$hamburger-layer-spacing: 7px !default;
$hamburger-layer-color: #ff9d20 !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-hover-use-filter: false !default;