$hamburger-layer-height: 999px !default; // Dikte van de balken
$hamburger-layer-width: 35px !default; // Lengte van de balken
$hamburger-layer-spacing: 8px !default; // Ruimte tussen de balken
$hamburger-layer-color: #ff9d20 !default; // Kleur van de balken