<div id="js-overlay" class="fixed flex justify-center items-center inset-0 w-full h-full z-50 bg-[#101418]">
        <svg height="100" width="100" xmlns="http://www.w3.org/2000/svg" id="js-svg">
                <circle r="40" cx="50" cy="50" fill="#101418" stroke="#ff9d20" stroke-width="4" stroke-linecap="round" />
                <text x="50%" y="52%" text-anchor="middle" class="font-goldplay" fill="#ff9d20" stroke-width="3px" dy=".3em" style="font-size:60px;">J</text>
        </svg>
</div>