---
import '../styles/tailwind.css';
import Header from '../components/Header.astro';
import Preloader from '../components/Preloader.astro'; // Import preloader component
---

<!doctype html>
<html lang="en">
<head>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3TDTC8W4FX"></script>
        <script>
          declare global {
            interface Window {
              dataLayer: any[]
            }
            function gtag(command: string, ...args: any[]): void;
          }
          window.dataLayer = window.dataLayer || [];
          function gtag(command: string, ...args: any[]) {
            window.dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'G-3TDTC8W4FX');
        </script>
      </head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favi.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Jan Hylke van Erkel</title>
</head>
<body class="bg-custom-bg text-white">
<Preloader />
<Header />
<main>
    <slot />
</main>
<script type="module" src="/js/hamburger.js"></script>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>