---
import '../styles/tailwind.css';
import Header from '../components/Header.astro';
import Preloader from '../components/Preloader.astro';
import SmoothScroll from "../components/SmoothScroll.astro";
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3TDTC8W4FX"></script>
    <script>
      declare global {
        interface Window {
          dataLayer: any[]
        }
        function gtag(command: string, ...args: any[]): void;
      }
      window.dataLayer = window.dataLayer || [];
      function gtag(command: string, ...args: any[]) {
        window.dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-3TDTC8W4FX');
    </script>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favi.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Jan Hylke van Erkel</title>
    <script defer type="module" src="/js/main.js"></script>
</head>
<body class="bg-custom-bg text-white">
    <Preloader />
    <SmoothScroll />
    <Header />
    <main>
        <div>
            <slot />
        </div>
    </main>
    <script is:inline>
        document.addEventListener("DOMContentLoaded", () => {
            const headerContainer = document.querySelector(".header__container");
            const hamburgerButton = document.querySelector("button.hamburger");
            const mainblur = document.querySelector("main");
            const hamburger = document.querySelector(".hamburger");
            const scrollableElement = window;

            // Toggle menu bij klik op de hamburgerknop
            hamburgerButton.addEventListener("click", (event) => {
                event.stopPropagation();
                const isOpen = headerContainer.classList.toggle("is-open");
                mainblur.classList.toggle("blur", isOpen);
                hamburger.classList.toggle("is-active", isOpen);
            });

            // Klik buiten het menu sluit het menu
            document.addEventListener("click", (event) => {
                if (!headerContainer.contains(event.target) && !hamburgerButton.contains(event.target)) {
                    closeMenu();
                }
            });

            // Scroll op body sluit het menu
            scrollableElement.addEventListener("scroll", () => {
                closeMenu();
            });

            // Functie om het menu te sluiten
            function closeMenu() {
                headerContainer.classList.remove("is-open");
                mainblur.classList.remove("blur");
                hamburger.classList.remove("is-active");
            }
        });
    </script>
</body>
</html>